## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [ ]:
# code here
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)

In [ ]:
# titanic_df[titanic_df['Age'].isnull()]['Pclass'].value_counts()

In [ ]:
titanic_df.groupby('Pclass').agg({
    'Age':['sum','mean',lambda x: x.isnull().sum()],


})

            Age
            sum       mean <lambda_0>
Pclass
1       7111.42  38.233441         30
2       5168.83  29.877630         11
3       8924.92  25.140620        136

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [ ]:
# code here
def fill(group):
  group.fillna(group['Embarked'].mode())
  display(group['Embarked'].value_counts())
titanic_df.groupby('Pclass').apply(fill)

Embarked
S    127
C     85
Q      2
Name: count, dtype: int64

Embarked
S    164
C     17
Q      3
Name: count, dtype: int64

Embarked
S    353
Q     72
C     66
Name: count, dtype: int64

Empty DataFrame
Columns: []
Index: []

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [ ]:
# code here
def fill_fare(group):
  # display(group.groupby('Pclass'))
  tmp=group.groupby('Pclass')
  return tmp['Fare'].mean()
titanic_df.groupby('Embarked').apply(fill_fare)

Pclass             1          2          3
Embarked
C         104.718529  25.358335  11.214083
Q          90.000000  12.350000  11.183393
S          70.364862  20.327439  14.644083

In [ ]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## **Questions Based on Fifa Worldcup - 2022 Dataset:**

You can read the dataset by using the below sample code

```python
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
```

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [ ]:
# code here
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")

In [ ]:
tmp=fifa_df.groupby('Team')
def z_normalization(group):
  col=['Passes','Passes Completed','Attempted Line Breaks','Completed Line Breaks']
  for c in col:
    # print(group)
    group[c+'norm']=(group[c]-group[c].mean())/group[c].std()
  return group.agg({
      'Passes':['min','max'],
      'Yellow Cards':['min','max','mean'],
      'Attempted Line Breaks':['min','max','std'],
      'Possession (%)': 'mean'

  })
tmp.apply(z_normalization)

                Passes  Yellow Cards  Attempted Line Breaks  Possession (%)
Team
Argentina min    408.0      0.000000             141.000000             NaN
          max    862.0      8.000000             249.000000             NaN
          mean     NaN      2.285714                    NaN       49.285714
          std      NaN           NaN              38.774685             NaN
Australia min    286.0      0.000000             133.000000             NaN
...                ...           ...                    ...             ...
Uruguay   std      NaN           NaN              22.030282             NaN
Wales     min    325.0      1.000000             104.000000             NaN
          max    508.0      2.000000             208.000000             NaN
          mean     NaN      1.666667                    NaN       41.000000
          std      NaN           NaN              53.028294             NaN

[128 rows x 4 columns]

In [ ]:
fifa_df.columns

Index(['Sl. No', 'Match No.', 'Team', 'Against', 'Group', 'Goal',
       'Possession (%)', 'Inside Penalty Area', 'Outside Penalty Area',
       'Assists', 'Total Attempts', 'On Target', 'Off Target',
       'Target in Penalty', 'Target from Outside', 'Left Channel',
       'Left Inside Channel', 'Central Channel', 'Right Inside Channel',
       'Right Channel', 'Receptions MD', 'Receptions D',
       'Attempted Line Breaks', 'Completed Line Breaks',
       'Attempted Defensive Line Breaks', 'Completed Defensive Line Breaks',
       'Yellow Cards', 'Red Cards', 'Fouls Against', 'Offsides', 'Passes',
       'Passes Completed', 'Crosses', 'Crosses Completed', 'Corners',
       'Free Kicks', 'Penalties Scored', 'Pts'],
      dtype='object')

## **Questions on IPL wala dataset**

ball by ball dataset - https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link

###`Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [ ]:
# code here
df=pd.read_csv('/content/ipl_deliveries - ipl_deliveries.csv')
df=df[df['innings']==2]

In [ ]:
tmp=df.groupby(['ID','batter'])
tmp['total_run'].sum().sort_values(ascending=False)

ID       batter
1254061  SV Samson        124
501243   V Sehwag         122
336018   ST Jayasuriya    122
501206   PC Valthaty      121
1136620  SR Watson        121
                         ...
829821   DJ Bravo           0
1254099  SA Yadav           0
1254100  PK Garg            0
1254101  D Padikkal         0
829821   SK Raina           0
Name: total_run, Length: 6972, dtype: int64

In [ ]:
tmp=df.groupby('batter')

In [109]:
def fill(group):
  # print(group['Team'])
  if len(group['Team'])<100:
    return 0
  else:
    return group['total_run'].sum()/len(group['Team'])*100
tmp.apply(fill).sort_values(ascending=False)

batter
PJ Cummins         197.478992
AD Russell         173.057851
LS Livingstone     171.171171
SP Narine          171.010638
V Sehwag           167.991170
                      ...
JJ van der Wath      0.000000
JJ Bumrah            0.000000
JE Taylor            0.000000
JDS Neesham          0.000000
Z Khan               0.000000
Length: 552, dtype: float64

###`Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [112]:
df.columns

Index(['ID', 'Team', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam', 'BowlingTeam'],
      dtype='object')

In [117]:
# code here
tmp=df.groupby(['batter','bowler'])
tmp[['total_run','isWicketDelivery']].sum().sort_values(by=['total_run','isWicketDelivery'],ascending=[True,False])

                                total_run  isWicketDelivery
batter          bowler
Abhishek Sharma GJ Maxwell              0                 2
DJ Hooda        SL Malinga              0                 2
DJ Willey       YS Chahal               0                 2
DR Sams         KH Pandya               0                 2
HV Patel        A Nehra                 0                 2
...                                   ...               ...
SR Watson       SL Malinga            103                 4
DA Warner       P Kumar               103                 1
KA Pollard      A Mishra              104                 1
SK Raina        Sandeep Sharma        109                 2
V Kohli         A Mishra              121                 2

[15120 rows x 2 columns]

###`Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [124]:
# code here
tmp=df.groupby(['batter','non-striker'])['total_run'].sum().sort_values(ascending=False).reset_index()

In [142]:
df.set_index('ID')

,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam,total_batter,Total batter
ID,,,,,,,,,,,,,,,,,,,,
1312200,Rajasthan RoyalsGujarat Titans,2,0,1,WP Saha,TA Boult,Shubman Gill,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,WP SahaShubman Gill,WP Saha-Shubman Gill
1312200,Rajasthan RoyalsGujarat Titans,2,0,2,WP Saha,TA Boult,Shubman Gill,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,WP SahaShubman Gill,WP Saha-Shubman Gill
1312200,Rajasthan RoyalsGujarat Titans,2,0,3,WP Saha,TA Boult,Shubman Gill,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,WP SahaShubman Gill,WP Saha-Shubman Gill
1312200,Rajasthan RoyalsGujarat Titans,2,0,4,Shubman Gill,TA Boult,WP Saha,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Shubman GillWP Saha,WP Saha-Shubman Gill
1312200,Rajasthan RoyalsGujarat Titans,2,0,5,Shubman Gill,TA Boult,WP Saha,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Shubman GillWP Saha,WP Saha-Shubman Gill
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335982,Royal Challengers BangaloreKolkata Knight Riders,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,P KumarSB Joshi,SB Joshi-P Kumar
335982,Royal Challengers BangaloreKolkata Knight Riders,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,SB JoshiP Kumar,SB Joshi-P Kumar
335982,Royal Challengers BangaloreKolkata Knight Riders,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,P KumarSB Joshi,SB Joshi-P Kumar
335982,Royal Challengers BangaloreKolkata Knight Riders,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,SB JoshiP Kumar,SB Joshi-P Kumar
335982,Royal Challengers BangaloreKolkata Knight Riders,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Kolkata Knight Riders,SB JoshiP Kumar,SB Joshi-P Kumar

In [139]:
df['Total batter']= df.apply(lambda x : x['batter']+'-'+x['non-striker'] if x['batter']> x['non-striker'] else x['non-striker']+'-'+x['batter'], axis=1)

In [158]:
tmp=df.groupby(['Total batter'])
df_runs = pd.DataFrame(columns=['bat1', 'bat2', 'runs', 'avg', 'strike'])
for group, data in tmp:
    # print(group)
    l=data['ID'].nunique()
    bat1, bat2= group[0].split('-')[0],group[0].split('-')[1]
    runs=data['total_run'].sum()
    avg=runs/l
    strike = runs/ data['ID'].count()
    new_row = pd.DataFrame({
    'bat1': [bat1],
    'bat2': [bat2],
    'runs': [runs],
    'avg': [avg],
    'strike': [strike]
      })

    # Use pd.concat() to append the new row
    df_runs = pd.concat([df_runs, new_row], ignore_index=True)


    # df_runs=df_runs.append(bat1,bat2, runs, avg, strike)

df_runs.sort_values('runs')

<ipython-input-158-4362ae877c5b>:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_runs = pd.concat([df_runs, new_row], ignore_index=True)

                   bat1            bat2  runs        avg    strike
0              A Mithun        A Kumble     0   0.000000  0.000000
988   Mustafizur Rahman      C Sakariya     0   0.000000  0.000000
986    Mujeeb Ur Rahman        M Ashwin     0   0.000000  0.000000
971      Mohammed Shami       CJ Jordan     0   0.000000  0.000000
2490           UT Yadav         GB Hogg     0   0.000000  0.000000
...                 ...             ...   ...        ...       ...
1695           S Dhawan       DA Warner   952  47.600000  1.410370
731          MA Agarwal        KL Rahul  1063  53.150000  1.423025
2515            V Kohli  AB de Villiers  1104  30.666667  1.328520
2520            V Kohli        CH Gayle  1160  37.419355  1.355140
1601         RV Uthappa       G Gambhir  1314  41.062500  1.374477

[2913 rows x 5 columns]

###`Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [ ]:
# code here